<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mountain View High School Book Club">
    <meta name="author" content="Greivin Lopez">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Book Club</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600">
    <link href='http://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="loader">
      <div class="fading-line"></div>
    </div>
    <section id="home" class="page">
      <div class="container">
        <div class="content cover text-center">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="animated hiding" data-animation="fadeInDown" data-delay="300">Mountain View Book Club</h1>              
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="navbar-top">
      <nav class="navbar navbar-default navbar-static" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand nav-external" href="/">Book Club</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active">
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/users/{{ userid }}/events"><i class="fa fa-user"></i> {{ user }}</a>
              </li>
              <li>
                <a href="{{ logout_url }}"><i class="fa fa-power-off"></i> Logout</a>
              </li>              
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <section id="input-book" class="page">
      <div class="container">
        <div class="content text-center">
          <div class="heading">
            <h2>We love reading.</h2>
            <div class="border"></div>
            <div class="item active">
              <p class="quote"><i class="fa fa-quote-left"></i>  {{ quote['quote'] }} <i class="fa fa-quote-right"></i></p>
              <p class="author">{{ quote['author'] }}</p>
            </div>
            <form id="input-book-form" class="form-inline" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" name="bookname" placeholder="Book">
                    </div>                    
                    <button type="submit" class="btn btn-blue">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 animated hiding" data-animation="fadeInUp">
            <ul class="social list-inline ">
              <li>
                <a class="facebook" href="http://www.facebook.com" title="Facebook">
                  <i class="fa fa-facebook fa-2x"></i>
                </a>
              </li>
              <li>
                <a class="twitter" href="http://www.twitter.com" title="Twitter">
                  <i class="fa fa-twitter fa-2x"></i>
                </a>
              </li>
              <li>
                <a class="google-plus" href="http://www.plus.google.com" title="Google+">
                  <i class="fa fa-google-plus fa-2x"></i>
                </a>
              </li>              
            </ul>
            <p class="copyright"> 
              Created by <a href="http://cr.linkedin.com/in/greivinlopez/">Greivin López</a>             
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.nav.min.js"></script>
    <script src="/static/js/home.js"></script>
  </body>
</html>